body {
  min-width: 800px;
}

#nav-bar {
  list-style-type: none;
  margin-right: 40px;
}

#nav-bar li {
  display: inline-block;
  border-right: 1px solid black;
  padding: 5px 15px;
  float: right;
}

#nav-bar li:first-child {
  border-right: none;
}

#site-logo {
  float: left;
  margin: 5px 0px 20px 40px;
}

#page-contents {
  clear: both;
}

.thumbnail {
  height: 100px;
  width: 67.5px;
  display: block;
  margin: 20px auto;
}

.movie-list {
  list-style-type: none;
}

.movie-list-item {
  height: 200px;
  width: 125px;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  margin: 20px;
  text-align: center;
  vertical-align: top;
}

.movie-poster {
  height: 300px;
  width: 182.5px;
}